/* Setting Page without white space(Biar full ga ada space) */

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Galdeano-Regular', sans-serif;
}


/* =========== NAVBAR STYLING ============*/

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(23, 16, 9);
    padding: 20px;
}

.Logo {
    margin-left: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 20px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

a.active {
    color: rgb(192, 138, 20);
}

.ProfileInfo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;
    color: #fff;
    font-size: 12px;
}


/* Add this to your existing CSS file or create a new one */


/* ... Your existing styles ... */

.ProfileInfo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;
    color: #fff;
    font-size: 12px;
    position: relative;
}

.ProfileInfo .ProfileIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}


/* Updated styling for Logout Options */

.LogoutOptions {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.ProfileInfo:hover .LogoutOptions {
    display: block;
}

.LogoutOptions button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
    color: #333;
    border-radius: 4px;
}

.LogoutOptions button:hover {
    background-color: #ddd;
    border-radius: 4px;
}


/* =========== LP STYLING ============*/

.Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.ImageContainer {
    width: 100%;
    max-height: 30%;
}

.Content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ContentText {
    position: absolute;
    text-align: center;
    color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ContentHeading {
    font-size: 38px;
    font-weight: 600;
}

.SaleInfo {
    margin-top: 2%;
    font-size: 2vw;
    font-weight: 500;
    color: #ffffff;
}

.Discount {
    font-size: 1.5vw;
    font-weight: 700;
    background: #6f3b00;
    padding: 0.5vw 1.5vw;
    border-radius: 5px;
}

.fullService {
    margin-top: 1%;
    font-size: 1vw;
    font-style: oblique;
    opacity: 0.8;
}

.ShopNowButton {
    display: inline-block;
    padding: 1.5vw 3vw;
    background: #ffffff;
    color: #b27a00;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 600;
    border-radius: 3vw;
    margin-top: 2%;
}


/* =========== ARTICLE STYLING ============*/

.Article {
    background: linear-gradient(180deg, rgba(220, 178, 66, 1.00) 1.0416666977107525%, rgba(255, 254, 251, 1.00) 38.54166567325592%, rgba(254, 254, 254, 1.00) 100%);
    padding-left: 40px;
}

.ArticleContent {
    display: flex;
    align-items: center;
}

.ArticleImage {
    flex: 1;
    padding: 10px;
}

.ArticleImage img {
    max-width: 90%;
    min-width: 70%;
    height: auto;
}

.ArticleText {
    flex: 1;
    padding: 10px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 0;
}

h3 {
    color: #ff7800;
    margin-top: 4px;
    margin-bottom: 0;
}

p {
    color: #4E3A05;
    line-height: 1.5;
    font-style: italic;
    margin-top: 12px;
}


/* =========== SERVICE STYLING ============*/

.serviceSec {
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 18px;
    padding: 20px;
    flex-wrap: wrap;
}

.serviceCard {
    width: 240px;
    height: 100%;
    background: white;
    border-radius: 5px;
    border: 1px #E6E6E6 solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.SubHeader {
    font-size: 20px;
    font-weight: 600;
    color: #1A1A1A;
    line-height: 38.40px;
    word-wrap: break-word;
    margin-top: 80px;
    text-align: center;
}

.Image1 {
    width: 150px;
    height: 100px;
}

.CategoryName {
    width: 200px;
    color: #1A1A1A;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    font-size: 14px;
    line-height: 27px;
    word-wrap: break-word;
}


/* =========== PROMO STYLING ============*/

.promoSec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: linear-gradient(180deg, rgba(254, 254, 254, 1.00) 0%, rgba(255, 254, 251, 1.00) 4.16666679084301%, rgba(220, 178, 66, 1.00) 100%);
    border-color: rgba(0, 0, 0, 0.00);
    border-width: 1px;
    /* width: 1512px; */
    /* Remove fixed width */
    height: 319px;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.promoSec img {
    padding-left: 170px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.00);
    border-width: 1px;
    height: 180px;
    width: 70%;
    position: relative;
    backdrop-filter: blur(5px);
}

.promoText {
    position: absolute;
    text-align: center;
    color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.promoText .ContentHeading {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
}

.promoText .SaveUp {
    margin-top: 9px;
    font-size: 2vw;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
}

.promoText .Discounts {
    font-size: 24px;
    font-weight: 700;
    margin-top: 4px;
    margin-left: 6px;
    color: #000000;
    background: none;
}

.promoText .horizon {
    margin-top: 6px;
    font-size: 2vw;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    text-align: center;
    /* Center-align text */
}

.hotelName {
    font-size: 24px;
    font-weight: 700;
    margin-top: 4px;
    margin-left: 6px;
    color: #000000;
    background: none;
}

.tagger {
    font-size: 14px;
    font-weight: 700;
    margin-top: 4px;
    color: #000000;
    background: none;
}


/* =========== FOOTER STYLING ============*/

.Sponsor {
    background: #333;
    padding-bottom: 20px;
}

.Footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 5px;
    padding-bottom: 5px;
}

.FooterContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.SocialIcons {
    text-align: center; /* Pusatkan ikon media sosial */
    margin-top: 10px; /* Atur jarak dari konten lainnya */
}

.SocialIcons a {
    text-decoration: none;
    color: #fff;
    margin: 0 30px;
}

.CopyrightText {
    font-size: 12px;
    font-style: italic;
    margin-top: 30px;
}