body {
    font-family: 'Galdeano-Regular', sans-serif;
    background: #937831;
    padding: 80px;
}

.logo {
    text-align: center;
    margin-top: 20px;
}

.h2 {
    text-align: center;
}

.container {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    margin: 0 0 40px;
    margin-top: 20px;
    font-family: 'Galdeano-Regular', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    font-size: 18px;
}

h2::after {
    content: '';
    display: block;
    width: 150px;
    height: 2px;
    background-color: #937831;
    margin-top: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

p {
    padding: 24px;
    padding-top: 10px;
    font: 400 20px 'Galdeano-Regular', sans-serif;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: rgb(121, 119, 119);
}

a {
    color: #937831;
    font-weight: 700;
    text-decoration: none;
}

button {
    width: 60%;
    margin-top: 28px;
    padding: 10px;
    background-color: #937831;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.g-recaptcha {
    margin: 10px 0;
}