
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.footer-QPb {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(178.74deg, #ffffff -0.58%, #e1c67e 65.74%, #4e3a05 65.74%, #4e3a05 65.74%);
}
.footer-QPb .auto-group-pbsf-Fv1 {
  box-sizing: border-box;
  padding: 2.6rem 0rem 1.7rem 0rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .group-11-Y1w {
  margin: 0rem 136.6rem 2.096rem 0rem;
  width: 19.9rem;
  height: 4.0044rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #4d3905;
  border-radius: 3rem;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd {
  margin: 0rem 9.5rem 0.9rem 8.2rem;
  width: calc(100% - 17.7rem);
  height: 30.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-g2l9-zY9 {
  margin: 0rem 10.8rem 0.6rem 0rem;
  box-sizing: border-box;
  padding-top: 0.1rem;
  width: 36.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-g2l9-zY9 .harris-room-1-Uy7 {
  width: 36.5rem;
  height: 14.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-g2l9-zY9 .auto-group-njnh-DA1 {
  box-sizing: border-box;
  padding: 0.65rem 0.8rem 0.8rem 0.9rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-g2l9-zY9 .auto-group-njnh-DA1 .auto-group-h3m3-vq7 {
  margin: 0rem 0.3rem 0.25rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-g2l9-zY9 .auto-group-njnh-DA1 .auto-group-h3m3-vq7 .harris-room-ygu {
  margin-right: 12.3792rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3025;
  text-transform: capitalize;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-g2l9-zY9 .auto-group-njnh-DA1 .auto-group-h3m3-vq7 .users-GR7 {
  margin: 0.063rem 1.079rem 0rem 0rem;
  width: 1.7417rem;
  height: 1.275rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-g2l9-zY9 .auto-group-njnh-DA1 .auto-group-h3m3-vq7 .max-2-pax-awb {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-g2l9-zY9 .auto-group-njnh-DA1 .sqm-280-sqft-5NZ {
  margin-bottom: 1.05rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-g2l9-zY9 .auto-group-njnh-DA1 .auto-group-jwbx-aq7 {
  margin: 0rem 1.4rem 0.6rem 0rem;
  width: 13.4rem;
  height: 1.7rem;
  position: relative;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-g2l9-zY9 .auto-group-njnh-DA1 .auto-group-jwbx-aq7 .from-idr-638000-HzR {
  width: 13.4rem;
  height: 1.7rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2102272851;
  text-transform: capitalize;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-g2l9-zY9 .auto-group-njnh-DA1 .auto-group-jwbx-aq7 .from-idr-638000-HzR .from-idr-638000-HzR-sub-0 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-g2l9-zY9 .auto-group-njnh-DA1 .auto-group-jwbx-aq7 .from-idr-638000-HzR .from-idr-638000-HzR-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #b09859;
  font-family: Inter, 'Source Sans Pro';
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-g2l9-zY9 .auto-group-njnh-DA1 .auto-group-jwbx-aq7 .from-idr-638000-HzR .from-idr-638000-HzR-sub-2 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-g2l9-zY9 .auto-group-njnh-DA1 .auto-group-jwbx-aq7 .line-9-qgV {
  width: 5.9rem;
  height: 0.1rem;
  position: absolute;
  left: 6.7rem;
  top: 0.85rem;
  background-color: #000000;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-g2l9-zY9 .auto-group-njnh-DA1 .auto-group-mgth-xm7 {
  margin: 0rem 0.75rem 0.85rem 17.4rem;
  width: calc(100% - 18.15rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-g2l9-zY9 .auto-group-njnh-DA1 .auto-group-mgth-xm7 .rp510400-J4H {
  margin-right: 0.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #b09859;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-g2l9-zY9 .auto-group-njnh-DA1 .auto-group-mgth-xm7 .night-CvM {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-g2l9-zY9 .auto-group-njnh-DA1 .auto-group-c1rh-wd3 {
  width: 13.8rem;
  height: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #b09859;
  border-radius: 1rem;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-cnty-zLR {
  margin: 0.7rem 9.4rem 0rem 0rem;
  box-sizing: border-box;
  padding-top: 0.1rem;
  width: 39.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-cnty-zLR .harris-suite-room-1-7A9 {
  width: 39.2rem;
  height: 14.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-cnty-zLR .auto-group-jlxr-pqF {
  box-sizing: border-box;
  padding: 0.35rem 0.8rem 0.8rem 1.3rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-cnty-zLR .auto-group-jlxr-pqF .auto-group-ndzh-wus {
  margin: 0rem 0.65rem 0.4rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-cnty-zLR .auto-group-jlxr-pqF .auto-group-ndzh-wus .harris-suite-room-4jb {
  margin-right: 9.5875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3025;
  text-transform: capitalize;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-cnty-zLR .auto-group-jlxr-pqF .auto-group-ndzh-wus .users-C57 {
  margin: 0rem 1.038rem 0.5rem 0rem;
  width: 1.925rem;
  height: 1.35rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-cnty-zLR .auto-group-jlxr-pqF .auto-group-ndzh-wus .max-2-pax-Jdw {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-cnty-zLR .auto-group-jlxr-pqF .sqm-517-sqft-Dku {
  margin-bottom: 1.15rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-cnty-zLR .auto-group-jlxr-pqF .auto-group-e8rm-LKj {
  margin: 0rem 1.3rem 0.55rem 0rem;
  width: 14.3rem;
  height: 1.7rem;
  position: relative;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-cnty-zLR .auto-group-jlxr-pqF .auto-group-e8rm-LKj .from-idr-1588000-s4m {
  width: 14.3rem;
  height: 1.7rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2102272851;
  text-transform: capitalize;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-cnty-zLR .auto-group-jlxr-pqF .auto-group-e8rm-LKj .from-idr-1588000-s4m .from-idr-1588000-s4m-sub-0 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-cnty-zLR .auto-group-jlxr-pqF .auto-group-e8rm-LKj .from-idr-1588000-s4m .from-idr-1588000-s4m-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #b09859;
  font-family: Inter, 'Source Sans Pro';
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-cnty-zLR .auto-group-jlxr-pqF .auto-group-e8rm-LKj .from-idr-1588000-s4m .from-idr-1588000-s4m-sub-2 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-cnty-zLR .auto-group-jlxr-pqF .auto-group-e8rm-LKj .line-8-54M {
  width: 7.5rem;
  height: 0.1rem;
  position: absolute;
  left: 6.7rem;
  top: 0.9rem;
  background-color: #000000;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-cnty-zLR .auto-group-jlxr-pqF .auto-group-rghf-Bt5 {
  margin: 0rem 0.25rem 0.85rem 19rem;
  width: calc(100% - 19.25rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-cnty-zLR .auto-group-jlxr-pqF .auto-group-rghf-Bt5 .rp1357740-j8u {
  margin-right: 0.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #b09859;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-cnty-zLR .auto-group-jlxr-pqF .auto-group-rghf-Bt5 .night-qxd {
  margin-bottom: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-cnty-zLR .auto-group-jlxr-pqF .auto-group-41v9-NSm {
  width: 14.4rem;
  height: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #b09859;
  border-radius: 1rem;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-z1x5-ShX {
  margin: 0.2rem 0rem 0.6rem 0rem;
  width: 37.6rem;
  height: calc(100% - 0.8rem);
  position: relative;
  flex-shrink: 0;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-z1x5-ShX .night-YVf {
  width: 5.2rem;
  height: 2rem;
  position: absolute;
  left: 31.45rem;
  top: 23.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-z1x5-ShX .rectangle-34-qzZ {
  width: 37.6rem;
  height: 29.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-z1x5-ShX .harris-sky-room-ax9 {
  width: 15.7rem;
  height: 2.4rem;
  position: absolute;
  left: 1.55rem;
  top: 15.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3025;
  text-transform: capitalize;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-z1x5-ShX .from-idr-986000-Und {
  width: 13.3rem;
  height: 1.7rem;
  position: absolute;
  left: 21.45rem;
  top: 21.75rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2102272851;
  text-transform: capitalize;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-z1x5-ShX .from-idr-986000-Und .from-idr-986000-Und-sub-0 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-z1x5-ShX .from-idr-986000-Und .from-idr-986000-Und-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #b09859;
  font-family: Inter, 'Source Sans Pro';
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-z1x5-ShX .from-idr-986000-Und .from-idr-986000-Und-sub-2 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-z1x5-ShX .rp844740-Y3j {
  width: 11.1rem;
  height: 2.2rem;
  position: absolute;
  left: 19.45rem;
  top: 23.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #b09859;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-z1x5-ShX .rectangle-35-ESM {
  width: 13.5rem;
  height: 2.1rem;
  position: absolute;
  left: 23.4rem;
  top: 26.4rem;
  background-color: #b09859;
  border-radius: 1rem;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-z1x5-ShX .book-now-ZzR {
  width: 6.9rem;
  height: 1.7rem;
  position: absolute;
  left: 27.15rem;
  top: 26.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-z1x5-ShX .max-2-pax-V7P {
  width: 7.2rem;
  height: 1.7rem;
  position: absolute;
  left: 29.25rem;
  top: 15.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-z1x5-ShX .users-oNy {
  width: 1.8333rem;
  height: 1.2rem;
  position: absolute;
  left: 26.8833rem;
  top: 15.8rem;
  object-fit: contain;
  vertical-align: top;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-z1x5-ShX .line-10-8g9 {
  width: 6.7rem;
  height: 0.1rem;
  position: absolute;
  left: 28.2rem;
  top: 22.6rem;
  background-color: #000000;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-z1x5-ShX .sqm-420-sqft-GnM {
  width: 13.8rem;
  height: 2rem;
  position: absolute;
  left: 1.4rem;
  top: 17.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-w8cq-Htd .auto-group-z1x5-ShX .harris-sky-room-1-ygm {
  width: 37.6rem;
  height: 14.7rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.footer-QPb .auto-group-pbsf-Fv1 .auto-group-bprf-WRo {
  margin: 0rem 64.1rem 0rem 71.8rem;
  width: calc(100% - 135.9rem);
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #b09859;
  box-sizing: border-box;
  background-color: #4d3905;
  border-radius: 1rem;
  flex-shrink: 0;
}
.footer-QPb .auto-group-gtud-kL9 {
  width: 100%;
  height: 54.2rem;
  position: relative;
  flex-shrink: 0;
}
.footer-QPb .auto-group-gtud-kL9 .rectangle-37-ewK {
  width: 151.2rem;
  height: 43.3rem;
  position: absolute;
  left: 0;
  top: 10.9rem;
  background-color: #4d3905;
}
.footer-QPb .auto-group-gtud-kL9 .image-1-xh7 {
  width: 152.7rem;
  height: 24.8rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 3rem;
}
.footer-QPb .auto-group-gtud-kL9 .bca-1-Tds {
  width: 10rem;
  height: 5.7143rem;
  position: relative;
  left: 21.6rem;
  top: 38rem;
  background-size: 118.617% 176.471%;
  background-position: -1.0638rem -2.3529rem;
  background-image: url('../assets/bca-1.png');
  border-radius: 2.5rem;
}
.footer-QPb .auto-group-gtud-kL9 .mandiri-2-EHF {
  width: 10rem;
  height: 5.1042rem;
  position: absolute;
  left: 21.6rem;
  top: 31.1rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.5rem;
}
.footer-QPb .auto-group-gtud-kL9 .indomaret-1-YHw {
  width: 10rem;
  height: 6rem;
  position: relative;
  left: 33.1rem;
  top: 38.1rem;
  background-size: 120.773% 182.942%;
  background-position: -1.0628rem -2.5189rem;
  background-image: url('../assets/indomaret-1.png');
  border-radius: 2.5rem;
}
.footer-QPb .auto-group-gtud-kL9 .group-2-cYh {
  box-sizing: border-box;
  padding: 1.025rem 0.728rem 0.995rem 0.728rem;
  width: 10rem;
  height: 6rem;
  position: absolute;
  left: 33.1rem;
  top: 31.1rem;
  background-color: #ffffff;
  border-radius: 2.5rem;
}
.footer-QPb .auto-group-gtud-kL9 .group-2-cYh .alfamart-1-ird {
  width: 8.5443rem;
  height: 3.9799rem;
  object-fit: cover;
  vertical-align: top;
}
.footer-QPb .auto-group-gtud-kL9 .group-3-qwF {
  box-sizing: border-box;
  padding: 0.899rem 0.566rem 0.688rem 0.692rem;
  width: 10rem;
  height: 5rem;
  position: absolute;
  left: 10.1rem;
  top: 31.3rem;
  background-size: 122.302% 139.535%;
  background-position: -1.259rem -1.0078rem;
  background-image: url('../assets/rectangle-13-bg.png');
  border-radius: 2.5rem;
}
.footer-QPb .auto-group-gtud-kL9 .group-3-qwF .bri-1-xky {
  width: 8.7421rem;
  height: 3.4127rem;
  position: relative;
  background-size: 122.302% 139.535%;
  background-position: -1.1006rem -0.6878rem;
  background-image: url('../assets/bri-1.png');
  border-radius: 2rem;
}
.footer-QPb .auto-group-gtud-kL9 .group-3-qwF .group-3-qwF-bg {
  width: 10rem;
  height: 5rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:7dc0121792216c4e1c684ff9df03c79abb69bc17');
}
.footer-QPb .auto-group-gtud-kL9 .about-aXT {
  width: 4.4rem;
  height: 1.9rem;
  position: absolute;
  left: 60.8rem;
  top: 29rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.05;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Galdeano, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-gtud-kL9 .how-to-book-foo {
  width: 8.4rem;
  height: 1.7rem;
  position: absolute;
  left: 60.8rem;
  top: 31.85rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.05;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Galdeano, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-gtud-kL9 .contact-us-mrq {
  width: 7.1rem;
  height: 1.7rem;
  position: absolute;
  left: 60.8rem;
  top: 34.55rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.05;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Galdeano, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-gtud-kL9 .help-center-HaH {
  width: 7.7rem;
  height: 1.7rem;
  position: absolute;
  left: 60.8rem;
  top: 37.15rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.05;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Galdeano, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-gtud-kL9 .about-us-zjb {
  width: 5.8rem;
  height: 1.7rem;
  position: absolute;
  left: 60.8rem;
  top: 40.1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.05;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Galdeano, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-gtud-kL9 .follow-us-on-JkH {
  width: 9.5rem;
  height: 1.9rem;
  position: absolute;
  left: 75.6rem;
  top: 29.45rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.05;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Galdeano, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-gtud-kL9 .twitter-bzH {
  width: 4.7rem;
  height: 1.7rem;
  position: absolute;
  left: 75.6rem;
  top: 32rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.05;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Galdeano, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-gtud-kL9 .tiktok-7hj {
  width: 4rem;
  height: 1.7rem;
  position: absolute;
  left: 75.6rem;
  top: 34.8rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.05;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Galdeano, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-gtud-kL9 .facebook-3LV {
  width: 6rem;
  height: 1.7rem;
  position: absolute;
  left: 75.6rem;
  top: 37.3rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.05;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Galdeano, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-gtud-kL9 .instagram-L4h {
  width: 6.5rem;
  height: 1.7rem;
  position: absolute;
  left: 75.6rem;
  top: 39.9rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.05;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Galdeano, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-gtud-kL9 .services-d3o {
  width: 5.9rem;
  height: 1.9rem;
  position: absolute;
  left: 91.9rem;
  top: 29.3rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.05;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Galdeano, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-gtud-kL9 .payment-methods-Liu {
  width: 14.3rem;
  height: 2.1rem;
  position: absolute;
  left: 10.6rem;
  top: 26.65rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.05;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Galdeano, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-gtud-kL9 .harris-1-rx9 {
  width: 20rem;
  height: 8.7rem;
  position: absolute;
  left: 114.8rem;
  top: 31.3rem;
  object-fit: cover;
  vertical-align: top;
}
.footer-QPb .auto-group-gtud-kL9 .cafe-restaurant-beq {
  width: 11.5rem;
  height: 1.7rem;
  position: absolute;
  left: 91.9rem;
  top: 34.5rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.05;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Galdeano, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-gtud-kL9 .workstation-VER {
  width: 7.9rem;
  height: 1.7rem;
  position: absolute;
  left: 91.9rem;
  top: 37rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.05;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Galdeano, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-gtud-kL9 .wedding-hall-c49 {
  width: 8.6rem;
  height: 1.7rem;
  position: absolute;
  left: 91.9rem;
  top: 39.75rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.05;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Galdeano, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-gtud-kL9 .gym-spa-Vdj {
  width: 6.9rem;
  height: 1.7rem;
  position: absolute;
  left: 91.9rem;
  top: 31.9rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.05;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Galdeano, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-gtud-kL9 .copyright-2023-harris-hotel-pAD {
  width: 18.1rem;
  height: 1.7rem;
  position: absolute;
  left: 60.8rem;
  top: 50.35rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.05;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Galdeano, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-gtud-kL9 .plan-ahead-and-save-Kcm {
  width: 26.4rem;
  height: 3.4rem;
  position: absolute;
  left: 6.9rem;
  top: 5.8rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.05;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Galdeano, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-gtud-kL9 .up-to-2n5 {
  width: 7.5rem;
  height: 3.4rem;
  position: absolute;
  left: 6.9rem;
  top: 9.9rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.05;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Galdeano, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-gtud-kL9 .item-20-jwP {
  width: 6.4rem;
  height: 3.6rem;
  position: absolute;
  left: 16.5rem;
  top: 9.8rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 1.05;
  text-transform: capitalize;
  color: #ffb31f;
  font-family: Galdeano, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-gtud-kL9 .with-T6h {
  width: 6.2rem;
  height: 3.4rem;
  position: absolute;
  left: 24.7rem;
  top: 10rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.05;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Galdeano, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-gtud-kL9 .harris-mdB {
  width: 12.4rem;
  height: 4.2rem;
  position: absolute;
  left: 6.5rem;
  top: 14.1rem;
  display: flex;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.05;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Galdeano, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-gtud-kL9 .hotels--h13 {
  width: 9.7rem;
  height: 2.6rem;
  position: absolute;
  left: 21.5rem;
  top: 14.15rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.05;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Galdeano, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-gtud-kL9 .coventions-DEH {
  width: 13.4rem;
  height: 2.6rem;
  position: absolute;
  left: 21.5rem;
  top: 16.55rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.05;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Galdeano, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-QPb .auto-group-gtud-kL9 .group-4-jiR {
  box-sizing: border-box;
  padding: 0.303rem 0.651rem 0.252rem 0.651rem;
  width: 10rem;
  height: 6rem;
  position: absolute;
  left: 10.1rem;
  top: 37.3rem;
  background-color: #ffffff;
  border-radius: 2.5rem;
}
.footer-QPb .auto-group-gtud-kL9 .group-4-jiR .image-7-fMB {
  width: 7.929rem;
  height: 5.4454rem;
  object-fit: cover;
  vertical-align: top;
}
